.input {
    margin: 8px;
    display: flex;
    flex-direction: column;
    text-align: left; 
    width: 100%;
}

    label {
        font-size: 14px;
    }

    input {
        height: 24px;
        margin: 4px 0;
        border-radius: 4px;
        width: 100%;
        padding: 15px 10px;
        border: 1px #aaa solid;
        box-shadow: 1px 1px #ddd inset;
        background-color: #f8f8f8;
    }

    input:focus {
        border: 1px #777 solid;
        outline-width: 0;
    }